@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Palanquin+Dark&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Hammersmith+One&family=Karla&display=swap');

.nav-logo {
    width: 100%;
    height: 80px;
    margin-top: -12px;
}

.logo-container {
    width:220px;
}

.navLink {
    letter-spacing: 1px;
}

.links {
    font-size:25px;
    font-family: 'Palanquin Dark';
}

.links:hover {
    text-decoration: none;
    transform: scale(1.1)
}

.card-container:hover{
    transform: scale(1.05);
    opacity: 80%;
}

.title-page {
    margin-top: 10px;
    font-family: 'Mitr';
}

.carousel-img {
    width: 100%;
    height: 60vh;
    border-radius: 1%;
}

.main-page {
    background: #1c92d2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f2fcfe, #1c92d2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f2fcfe, #1c92d2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.soc-med {
    cursor: 'pointer'
}

.overview {
    font-family: 'Karla';
}

.release_date {
    font-family: 'Hammersmith One';
}

.popularity {
    font-family: 'Hammersmith One';
}

.title {
    font-family: 'Anton';
}